<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">SweetShop</a>
    <div>
      <a routerLink="/" class="nav-link d-inline">Home</a>
      <a routerLink="/add" class="nav-link d-inline" *ngIf="auth.isAdmin()">Admin</a>
    </div>
    <div class="ms-auto">
      <button class="btn btn-outline-secondary me-2" *ngIf="!auth.isLoggedIn()" routerLink="/login">Login</button>
      <button class="btn btn-outline-danger" *ngIf="auth.isLoggedIn()" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
