<div>
  <div class="d-flex justify-content-between align-items-center">
    <h3>Sweets</h3>
    <div>
      <a routerLink="/add" *ngIf="auth.isAdmin()" class="btn btn-primary">Add Sweet</a>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-4" *ngFor="let s of sweets">
      <div class="card p-2 mb-3">
        <div class="card-body">
          <h5 class="card-title">{{s.name}}</h5>
          <p class="card-text">{{s.category}} • ₹{{s.price}} • Qty: {{s.quantity}}</p>
          <button class="btn btn-success" (click)="purchase(s)" [disabled]="s.quantity <= 0">Purchase</button>
          <button class="btn btn-warning ms-2" *ngIf="auth.isAdmin()" (click)="restock(s)">Restock</button>
          <button class="btn btn-danger ms-2" *ngIf="auth.isAdmin()" (click)="deleteSweet(s)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
